html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  color: white;
  font-family: sora;
  font-size: 1.5rem;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.first {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: start;
}

.title {
  text-align: center;
  margin: 2.5rem 3rem;
  padding: 0 8rem;
}

.txt {
  margin: 0 4rem;
  text-align: center;
}

.input-number {
  width: 20rem;
  padding: 1rem;
  text-align: center;
  border-radius: 1.5rem;
}

.submit {
  padding: 1rem;
  width: 22.5rem;
  color: white;
  font-weight: bold;
  background-color: green;
  border: none;
  border-radius: 1.5rem;
}

.game {
  margin: auto 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  font-size: 3rem;
}

.hotOrCold {
  text-align: center;
}

.changes {
  text-align: center;
}

.the-game {
  margin: 1.3rem;
}

h2 {
  margin: 0 1rem;
}

h3 {
  text-align: center;
}

.popup-win, .popup-lose{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-win.active, .popup-lose.active{
  display: flex;
}

.popup-win .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.popup-lose .popup-content-lose, .popup-win .popup-content-win {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.15);
  opacity: 1;
  width: 95%;
  max-width: 35rem;
  background-color: rgb(238, 238, 238);
  padding: 2.5rem;
  border-radius: 2rem;
  box-shadow: 0 2px 2px 5px rgba(0, 0, 0, 0.05);
  transition: all 300ms ease-in-out;
  gap: 1rem;
}

.popup .popup-content-win .gif {
  margin: 1.3rem 0 0 0;
  width: 20rem;
  height: 15rem;
}

.popup-content-lose .gif {
  width: 15rem;
  height: 15rem;
}

.popup-win .popup-content-win h2,
.popup-lose .popup-content-lose h2 {
margin: 0 1rem;
  color: #111;
  text-align: center;
  font-size: 2.8rem;
}

.popup-win .popup-content-win p,
.popup-lose .popup-content-lose p {
  margin: 0;
  padding: 0 5rem;
  color: #111;
  text-align: center;
  font-size: 1.6rem;
}

.popup-win .popup-content-win .again,
.popup-lose .popup-content-lose .again {
  background-color: #00aa4a;
  color: white;
  border-radius: 2rem;
  border: 0;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.6rem;
}

.popup-win .popup-content-win .again:hover,
.popup-lose .popup-content-lose .again:hover {
  background-color: #02853b;
}

/* .popup-win.active, .popup-lose.active{
    top: 0;
    transition: top 0ms ease-in-out 0ms;
}

.popup-win.active .overlay, .popup-lose.active .overlay {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.popup-win.active .popup-content-win, .popup-lose.active .popup-content-lose {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
} */

/* .popup-win, .popup-lose{
    display: none;
} */

.cold {
  color: #0062ff;
}

.mid {
  color: orange;
}

.hot {
  color: rgb(255, 15, 15);
}
